asgiref==3.8.1
beautifulsoup4==4.12.3
bleach==6.1.0
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.0.4
django-axes==6.4.0
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-summernote==0.8.20.0
filelock==3.13.4
idna==3.7
numpy==1.26.4
pillow==10.3.0
platformdirs==4.2.0
psycopg2==2.9.9
python-dotenv==1.0.1
requests==2.32.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
utils==1.0.2
virtualenv==20.25.3
virtualenvwrapper-win==1.2.7
webencodings==0.5.1
