{% extends "base.html" %}

{% block content %}

<h1>{{ forumpost.name }}</h1>
<p><strong>Post date</strong> {{ forumpost.post_date }}</p>
<p><strong>Author:</strong> <a href="{% url 'forumpost-by-author' forumpost.author.pk %}">{{ forumpost.author }}</a></p>
<p><strong>Description:</strong></p>
<p style="white-space:pre-wrap;">{{ forumpost.description }}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Comments</h4>

{% for comment in forumpost.forumpostcomment_set.all %}
<hr>
<p>{{comment.author}} ({{comment.post_date}}) - {{comment.description}}</p>
{% endfor %}
<hr>
{% if user.is_authenticated %}
  <a href="{% url 'forumpost_comment' forumpost.id %}">Add a new comment</a></p>
{% else %}
  <p><a>Login</a> to add a new comment</p>
{% endif %} 


</div>
{% endblock %}