{% extends 'base.html' %}

{% block content %}
    <form name="formPainel" id="formPainel" method="post" action="{% url 'dologin' %}">
        <div class="col-6 mt-4 m-auto">
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}

            {% csrf_token %}
            <input class="form-control mt-4" type="text" name="user" id="user" placeholder="Nome do Usuário:">
            <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha:">
            <input class="btn btn-dark mt-4" type="submit" value="Entrar">
        
        </div>
    </form>
{% endblock %}
